<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
</head>
<body>
    <div id='app'>
        <input type='text' value='' v-model="firstname"/><br>
        <input type='text' v-model='secondname' /><br>
        <input type='text' v-model='fullname1' /><br>
        <input type='text' value='' />

    </div>
    
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                firstname: 'z',
                secondname: 'ff',
            },
            computed: {  // 计算属性
                fullname1() {
                    return this.firstname + ' ' + this.secondname
                }
            }
        });
    </script>
</body>
</html>